extend home.pug

block content
  h1 About the Game
  p Yer a Wizard! … or you would have been, had the owl carrying your 
    | Hogwarts acceptance letter not been caught in that hurricane... 
    | Make up for that missed opportunity now, with the chance to save 
    | the Wizarding World from the forces of He Who Must Not Be Named.

  p To beat the game, you must prevent the enemies spawning on the right 
    | from reaching their objective. They start at #4 Privet Drive, then 
    | spread to Gringotts Bank. If that's not enough, their final stop is 
    | Hogwarts itself. If any enemy reaches the objective, the Death Eaters 
    | will cause the destruction of the entire Wizarding World.

  p It's up to you to cast the Imperturbable Charm, 
    i Protego Diabolica
    | , and the Patronus Charm to protect us all. Drag each spell to cast 
    | it! But be careful... it costs a certain number of Bertie Botts Every 
    | Flavour Beans to cast each spell, and enemies will only drop so many...
  
  p This project was created by Samantha Schrock and Laura Lin for their 
    | Computer Science Capstone Project for Oregon State University.

  p It is the first version of a Harry Potter -themed,2D, single-player 
    | HTML5 Tower Defense game. The game will appeal to both newcomers and 
    | returning fans of strategy games, tower defense games, and the Harry 
    | Potter series alike.

  p.resources Resources:
    ul
      li
        a(href='http://www.melonjs.org/') melonJS
      li
        a(href='https://github.com/melonjs/boilerplate') melonJS boilerplate code by Olivier Biot
      li
        a(href='https://www.mapeditor.org/') Tiled Map Editor
      li
        a(href='https://www.codeandweb.com/texturepacker') Texture Packer
      li
        a(href='https://nodejs.org/en/') Node.js
      li
        a(href='https://www.npmjs.com/') npm
      li
        a(href='https://expressjs.com/') Express
      li
        a(href='https://pugjs.org/api/getting-started.html') Pug
      li
        a(href='https://www.freecodecamp.org/news/') freeCodeCamp
