extend home.pug

block content
  h1 Play the Game
  p UNDER CONSTRUCTION

  <!-- Canvas placeholder -->
  #screen

  <!-- es5/es6 shim for legacy browsers" -->
  script(src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.11/es5-shim.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.11/es5-sham.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-sham.min.js")

  <!-- melonJS Library -->
  <!-- build:js js/app.min.js -->
  script(type="text/javascript", src="lib/melonjs.js")

  <!-- Plugin(s) -->
  script(type="text/javascript", src="lib/plugins/debug/debugPanel.js")

  <!-- Game Scripts -->
  script(type="text/javascript", src="js/game.js")
  script(type="text/javascript", src="build/js/resources.js")

  script(type="text/javascript", src="js/entities/enemyEntities.js")
  script(type="text/javascript", src="js/entities/spellEntities.js")
  script(type="text/javascript", src="js/entities/entities.js")
  script(type="text/javascript", src="js/entities/HUD.js")
  script(type="text/javascript", src="js/entities/enemyAttack.js")
  script(type="text/javascript", src="js/entities/spellAttack.js")
  script(type="text/javascript", src="js/screens/title.js")
  script(type="text/javascript", src="js/screens/play.js")
  script(type="text/javascript", src="js/screens/loser.js")
  script(type="text/javascript", src="js/screens/learn.js")
  script(type="text/javascript", src="js/screens/winner.js")

  <!-- /build -->

  <!-- Bootstrap -->
  script(type="text/javascript").
    me.device.onReady(function onReady() { game.onload(); });
